<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.xingkong.jueqian">

    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".JueQianAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.me.myquestions.MyQuestionsAcitivity" />
        <activity android:name=".module.Forum.NewAnswer.NewAnswerActivity"></activity>
        <activity android:name=".module.EditUser.EditUserActivity"></activity>
        <activity android:name=".module.Login.LoginActivity"></activity>
        <activity android:name=".module.Regist.RegistActivity"></activity>
        <activity android:name=".module.ChangePassWord.ChangePWActivity"></activity>
        <activity android:name=".module.Forum.QuestionPage.QuestionActivity" />
        <activity android:name=".module.Forum.QuestionPage.Comment.CommentActivity" />
        <activity android:name=".module.Forum.QuestionPage.AnwserPage.AnswerActivity" />
        <activity android:name=".module.Forum.NewPage.NewActivity" />
        <activity android:name=".module.me.mymessage.MyMessageActivity" />
        <activity android:name=".module.me.mycollection.MyCollectionActivity" />
        <activity android:name=".module.me.myanswer.MyAnswerActivity" />
        <activity android:name=".module.me.myrecentlook.MyRecentLookActivity" />
        <activity android:name=".module.me.mysettings.MySettingsActivity" />
        <activity android:name=".module.me.mymainpage.editinfo.EditInfoActivity" />
        <activity android:name=".module.me.mymainpage.MyMainPageAcitivity" />
        <activity android:name=".module.me.mainpage.MainPageAcitivity" />
        <activity android:name=".module.me.mysettings.aboutme.AboutMeActivity" />
        <activity android:name=".module.common.WebActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>

    <!-- 友盟统计 -->
    <meta-data
        android:name="UMENG_APPKEY"
        android:value="5871aaa24ad156103b0004d0" />
    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="JueQian" />
    <!-- 友盟统计 -->

</manifest>