<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.xingkong.jueqian">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".JueQianAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.Forum.QuestionPage.QuestionActivity" />
        <activity android:name=".module.Forum.QuestionPage.Comment.CommentActivity" />
        <activity android:name=".module.Forum.QuestionPage.AnwserPage.AnswerActivity" />
        <activity android:name=".module.Forum.NewPage.NewActivity" />
        <activity android:name=".module.me.mymessage.MyMessageActivity" />
        <activity android:name=".module.me.mycollection.MyCollectionActivity" />
        <activity android:name=".module.me.myanswer.MyAnswerActivity" />
        <activity android:name=".module.me.myrecentlook.MyRecentLookActivity" />
        <activity android:name=".module.me.mysettings.MySettingsActivity" />
        <activity android:name=".module.me.mysettings.aboutme.AboutMeActivity" />
        <activity android:name=".module.me.myquestions.MyQuestionsAcitivity" />
        <activity android:name=".module.common.WebActivity" />
    </application>

    <!-- 友盟统计 -->
    <meta-data
        android:name="UMENG_APPKEY"
        android:value="5871aaa24ad156103b0004d0" />
    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="JueQian" />
    <!-- 友盟统计 -->

</manifest>